<form name="form-group" ng-controller="page">
    <div class="row">
        <div class="col-md-5 ">
            <div class="form-group label-floating">
                <div class="input-group">
                    <span class="input-group-addon"><i class="material-icons md-48" style="font-size: 48px;">perm_identity</i></span>
                    <label class="control-label" for="addon3a">Name</label>
                    <input type="text" id="addon3a" class="form-control" ng-model="info.name">
                    <p class="help-block">Friends name</p>
                </div>
            </div>
        </div>
        <div class="col-md-5 ">
            <div class="form-group label-floating">
                <div class="input-group">
                    <span class="input-group-addon"><i class="material-icons" style="font-size: 48px;">contact_phone</i></span>
                    <label class="control-label" for="addon3a">Mobile</label>
                    <input type="text" id="addon3a" class="form-control" ng-model="info.mobile">
                    <p class="help-block">Friends contact number</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 ">
            <div class="form-group label-floating">
                <div class="input-group">
                    <span class="input-group-addon"><i class="material-icons" style="font-size: 48px;">today</i></span>
                    <label class="control-label" for="addon3a">Date</label>
                    <input type="text" id="date" class="form-control" ng-model="info.date" >
                    <p class="help-block">Friends date of birth</p>
                </div>
            </div>
        </div>
        <div class="col-md-5 ">
            <div class="form-group label-floating">
                <div class="input-group">
                    <span class="input-group-addon"><i class="material-icons" style="font-size: 48px;">access_time</i></span>
                    <label class="control-label" for="addon3">Time</label>
                    <input type="text" id="time" class="form-control" ng-model="info.time">
                    <p class="help-block">Friends birth timings</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-offset-9">     
       <i class="material-icons" ng-click="add()" style="font-size: 35px;">save</i>
       <i class="material-icons" ng-click="update()" style="font-size: 35px;">update</i>
       <i class="material-icons" ng-click="deselect()" style="font-size: 35px;">clear_all</i>
    </div>



<table class="table table-striped table-hover " >
  <thead>

  <tr>
    <th>#</th>
    <th><i class="material-icons md-48" style="font-size: 35px;">perm_identity</i></th>
    <th><i class="material-icons" style="font-size: 35px;">contact_phone</i></th>
    <th><i class="material-icons" style="font-size: 35px;">today</i></th>
    <th><i class="material-icons" style="font-size: 35px;">access_time</i></th>
  </tr>
  </thead>

  <tbody>

  <tr class="success" ng-repeat="info in dis">
    <td></td>
    <td>{{info.name}}</td>
    <td>{{info.mobile}}</td>
    <td>{{info.date| date :'dd-MM-yyyy' }}</td>
    <td>{{info.time | date:'HH:mm'}}</td>
    <td><i class="material-icons" ng-click="edit(info.id)" >mode_edit</i></td>
    <td><i class="material-icons" ng-click="remove(info.id)" >delete</i></td>
  </tr>

</tbody>
</table>
</form>
<script type="text/javascript">
    $.material.init();
    $('#date').bootstrapMaterialDatePicker({
        weekStart: 0,
        time: false,
      
    });
    $('#time').bootstrapMaterialDatePicker({
        date: false,
        format: 'HH:mm'
    });

</script>
