<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="../" class="navbar-brand">Birthday Portal</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <!--<input type="text" class="form-control col-md-7" placeholder="Search">-->
                        </div>
                    </form>
                </li>
                <!--<li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Dashboard<span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="download">
                        <li><a>Setting</a></li>
                        <li><a>Action</a></li>
                        <li class="divider"></li>
                        <li><a>Logout</a></li>
                    </ul>
                </li>-->
            </ul>

        </div>
    </div>
</div>

<style type="text/css">
    .navbar, .navbar.navbar-default {
    background-color: #ea9074;
    color: rgba(255,255,255,.84);
}
</style>